
  @media (max-width: 576px) {
    header > h1 {
      max-width: 80%;
    }
    header {
      justify-content: center;
    }
  }


  @media (max-width: 1000px) {
    .card {
      max-width:100%;
      flex: 100%  }
  }

  @media (min-width:1000px) {
    img{
      object-fit: contain;
      height: 60%
    }
  }

  header {
    margin-bottom: 20px;
  }
  header i {
    margin-right: 10px;
    margin-left: 10px
  }

.card {
  margin: 20px 5px 0
}

.pointer {
  cursor: pointer;
}

.on-hover {
  border: 1px blue solid;
  color: blue;
}
